<div class="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-8 footer-main">
                <h6><a href="" class="footer-title-29"><span class="fa fa-university"
                            aria-hidden="true"></span>Easy cash</a></h6>
                <p class="footer-para">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Saepe qui repellat nam
                    vero consectetur dicta eos suscipit. Numquam at minus architecto asperiores cupiditate. At molestias
                    laborum voluptatibus numquam aperiam in.</p>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-8 footer-1">
                <ul>
                    <h6 class="footer-title-29">About</h6>
                    <li><a href="#page">How it Works</a></li>
                    <li><a href="#page">Guarantee</a></li>
                    <li><a href="#page">Security</a></li>
                    <li><a href="#page"> Our story</a></li>
                    <li><a href="#page">Contact us</a></li>
                </ul>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-8 footer-1">
                <ul>
                    <h6 class="footer-title-29">Solution</h6>
                    <li><a href="#page">Car Loan</a></li>
                    <li><a href="#page">Personal Loan</a></li>
                    <li><a href="#page">Education Loan</a></li>
                    <li><a href="#page">Business Loan</a></li>
                    <li><a href="#page">Home Loan</a></li>
                </ul>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-8 footer-1">
                <ul>
                    <h6 class="footer-title-29">Need Help?</h6>
                    <li><a href="#page">Find a branch</a></li>
                    <li><a href="#page">FAQs</a></li>
                    <li><a href="#page">APR</a></li>
                    <li><a href="#page">Contact us</a></li>
                </ul>
            </div>
        </div>
    </div>
    <hr class="line">
    <p class="text-center copyright">© 2024 Easy cash. All rights reserved | Designed by @Shubham_Asabe</p>
</div>