<!-- header -->
<app-header></app-header>

<!-- breadcrumb -->
<app-breadcrumb></app-breadcrumb>

<!-- Content -->
<div class="container">
    <div class="content">
        <h3 class="content-title">Our Main Banking Services</h3>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Hic fuga sit illo modi aut aspernatur tempore
            laboriosam saepe dolores eveniet.</p>
    </div>

    <!-- Service Plans -->
    <div class="row mb-5">
        <div class="col-lg-4 col-md-6">
            <div class="online-deposit">
                <div class="deposite-content">
                    <h5><a href="#page" class="card-titles">Online Deposit</a></h5>
                    <p class="card-subcontent">Sit amet consect etur adipi sicing elit. Rem quib usdam corporis, dolor
                        quos, nobis culpa est</p>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6">
            <div class="business-plan">
                <div class="business-content">
                    <h5><a href="#page" class="card-titles">Business Plan</a></h5>
                    <p class="card-subcontent">Sit amet consect etur adipi sicing elit. Rem quib usdam corporis, dolor
                        quos, nobis culpa est</p>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6">
            <div class="mobile-bank">
                <div class="mobile-content">
                    <h5><a href="#page" class="card-titles">Mobile Bank</a></h5>
                    <p class="card-subcontent">Sit amet consect etur adipi sicing elit. Rem quib usdam corporis, dolor
                        quos, nobis culpa est</p>
                </div>
            </div>
        </div>
    </div>

    <!-- Hover Card -->
    <div class="row">
        <div class="col-md-6 col-lg-4 mb-4">
            <div class="card custom-card">
                <div class="card-body">
                    <h5 class="card-title icon"><i class="fa-solid fa-address-card icon-hover"></i></h5>
                    <h6 class="card-subtitle mb-2 text-body-secondary bs-title ">Account Updater</h6>
                    <p class="card-text para">Sit amet consect etur adipi sicing elit. Rem quib usdam corporis, dolores
                        quos, nobis culpa est
                    </p>
                    <a href="#" class="card-link custom-link">Read more</a>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-4 mb-4">
            <div class="card custom-card">
                <div class="card-body">
                    <h5 class="card-title icon"><i class="fa-regular fa-square-check icon-hover"></i></h5>
                    <h6 class="card-subtitle mb-2 text-body-secondary bs-title">Simple Checkout</h6>
                    <p class="card-text para">Sit amet consect etur adipi sicing elit. Rem quib usdam corporis, dolores
                        quos, nobis culpa est
                    </p>
                    <a href="#" class="card-link custom-link">Read more</a>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-4 mb-4">
            <div class="card custom-card">
                <div class="card-body">
                    <h5 class="card-title icon"><i class="fa-regular fa-file-lines icon-hover"></i></h5>
                    <h6 class="card-subtitle mb-2 text-body-secondary bs-title">Payment Invoice</h6>
                    <p class="card-text para">Sit amet consect etur adipi sicing elit. Rem quib usdam corporis, dolores
                        quos, nobis culpa est
                    </p>
                    <a href="#" class="card-link custom-link">Read more</a>
                </div>
            </div>
        </div>
    </div>

    <!-- image Card -->
    <div class="row imgs-card">
        <div class="col-md-6 col-lg-4 mb-4">
            <div class="card">
                <img src="assets/images/b2.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Credit Cards</h5>
                    <p class="card-text">Sit amet consect etur adipi sicing elit. Rem quib usdam corporis, dolores quos,
                        nobis</p>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-4 mb-4">
            <div class="card">
                <img src="assets/images/b1.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">E-Banking</h5>
                    <p class="card-text">Sit amet consect etur adipi sicing elit. Rem quib usdam corporis, dolores quos,
                        nobis</p>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-4 mb-4">
            <div class="card">
                <img src="assets/images/b3.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Personal Banking</h5>
                    <p class="card-text">Sit amet consect etur adipi sicing elit. Rem quib usdam corporis, dolores quos,
                        nobis</p>
                </div>
            </div>
        </div>
    </div>

</div>

<app-footer></app-footer>