<!-- header -->
<app-header></app-header>
<!-- tab highlight -->
<app-breadcrumb></app-breadcrumb>

<div class="container">
    <!-- Content -->
    <div class="content">
        <h3 class="content-title">We are here to ease the financial obstacles</h3>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Hic fuga sit illo modi aut aspernatur tempore
            laboriosam saepe dolores eveniet.</p>
    </div>
    <!-- Card -->
    <div class="row">
        <!-- card 1 -->
        <div class="col-lg-6 mb-4">
            <div class="card custom-card">
                <div class="card-body">
                    <h3 class="card-title">Professional Services</h3>
                    <p class="card-text para">Mollitia placeat modi explicabo voluptatum Vel unde sint error placeat.
                        Alias modi molestias blanditiis aspernatur? Ex iusto nam ipsum aliquam.
                    </p>
                </div>
            </div>
        </div>
        <!-- card 2 -->
        <div class="col-lg-6 mb-4">
            <div class="card custom-card">
                <div class="card-body">
                    <h3 class="card-title">Advice and Guides</h3>
                    <p class="card-text para">Mollitia placeat modi explicabo voluptatum Vel unde sint error placeat.
                        Alias modi molestias blanditiis aspernatur? Ex iusto nam ipsum aliquam.
                    </p>
                </div>
            </div>
        </div>
        <!-- card 3 -->
        <div class="col-lg-6 mb-4">
            <div class="card custom-card">
                <div class="card-body">
                    <h3 class="card-title">Live Support</h3>
                    <p class="card-text para">Mollitia placeat modi explicabo voluptatum Vel unde sint error placeat.
                        Alias modi molestias blanditiis aspernatur? Ex iusto nam ipsum aliquam.
                    </p>
                </div>
            </div>
        </div>
        <!-- card 4 -->
        <div class="col-lg-6 mb-4">
            <div class="card custom-card">
                <div class="card-body">
                    <h3 class="card-title">Super Growth</h3>
                    <p class="card-text para">Mollitia placeat modi explicabo voluptatum Vel unde sint error placeat.
                        Alias modi molestias blanditiis aspernatur? Ex iusto nam ipsum aliquam.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Project completion image -->
<div class="container-fluid mt-4 mb-4 custom-image">
    <div class="overlay"></div> <!-- Overlay div for background color -->
    <div class="container">
        <div class="row custom-row">
            <div class="col-lg-6">
                <h3 class="title">Easily grow your business save more money</h3>
                <div class="link-list-menu">
                    <p>A unique innovative company that will allow you to</p>
                </div>
                <p class="para both-para mt-3">Qui ducimus vero aliquam odit deserunt voluptatum itaque, enim
                    perspiciatis animi ipsam quasi deleniti nam asperiores ullam, obcaecati veniam, eaque eius
                    consequatur.</p>
            </div>
            <div class="col-lg-6">
                <div class="bank-net">
                    <h2 class="icon"><i class="fa-regular fa-thumbs-up"></i></h2>
                    <div class="bank-project">
                        <h4>Projects Done</h4>
                        <h5>Team Hard Work</h5>
                    </div>
                    <h6 class="count">1000</h6>
                </div>
                <div class="bank-net">
                    <h2 class="icon"><i class="fa-solid fa-wand-magic-sparkles"></i></h2>
                    <div class="bank-project">
                        <h4>Investments</h4>
                        <h5>Long Term Profit</h5>
                    </div>
                    <h6 class="count">750</h6>
                </div>
                <div class="bank-net award-count">
                    <h2 class="icon"><i class="fa-solid fa-trophy"></i></h2>
                    <div class="bank-project">
                        <h4>Awards Won</h4>
                        <h5>Experience</h5>
                    </div>
                    <h6 class="count">600</h6>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Financial Goals -->
<div class="container">
    <div class="row finance-section">
        <div class="col-lg-6">
            <h3 class="finance-title">You Can Achieve Your Financial Goals</h3>
            <p class="finance-para">Lorem ipsum dolor sit amet consectetur adipisicing elit inventore deleniti dolore sequi labore similique vitae .inventore deleniti dolore sequi labore similique vitae quae est.</p>
            <p class="finance-para">Cum quo maiores asperiores sequi error alias mollitia? Voluptatibus impedit aliquid pr Lorem ipsum dolor sit amet consectetur adipisicing elit.inventore deleniti dolore sequi labore similique vitae quae est.</p>
            <a href="" class="finance-more pt-4">Read More</a>
        </div>
        <div class="col-lg-6 finance-image"></div>
    </div>
</div>

<!-- Team -->
<div class="team">
    <div class="container">
        <!-- Content -->
        <div class="team-content">
            <div class="content">
                <h3 class="content-title">Meet our Awesome team</h3>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Hic fuga sit illo modi aut aspernatur
                    tempore
                    laboriosam saepe dolores eveniet.</p>
            </div>
        </div>
        <!-- Team members -->
        <div class="row team-card">
            <div class="col-lg-4">
                <div class="card text-center">
                    <div class="card-body">
                        <h6 class="card-title"><img src="assets/images/c1.jpg" class="img-fluid emp-img" alt=""></h6>
                        <h5 class="name">Aaron Rossi</h5>
                        <h6 class="desiganation"> Bank CEO</h6>
                        <div class="social-icons mt-4">
                            <span class="p-3 sc-icon"><i class="fa-brands fa-twitter fa-2x"></i></span>
                            <span class="p-3 sc-icon"><i class="fa-brands fa-facebook fa-2x"></i></span>
                            <span class="p-3 sc-icon"><i class="fa-brands fa-linkedin fa-2x"></i></span>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card text-center">
                    <div class="card-body">
                        <h6 class="card-title"><img src="assets/images/c2.jpg" class="img-fluid emp-img" alt=""></h6>
                        <h5 class="name">Marco Gomez</h5>
                        <h6 class="desiganation">Co-Founder</h6>
                        <div class="social-icons mt-4">
                            <span class="p-3 sc-icon"><i class="fa-brands fa-twitter fa-2x"></i></span>
                            <span class="p-3 sc-icon"><i class="fa-brands fa-facebook fa-2x"></i></span>
                            <span class="p-3 sc-icon"><i class="fa-brands fa-linkedin fa-2x"></i></span>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card text-center">
                    <div class="card-body">
                        <h6 class="card-title"><img src="assets/images/c3.jpg" class="img-fluid emp-img" alt=""></h6>
                        <h5 class="name">Brad Joe</h5>
                        <h6 class="desiganation">Finance Experts</h6>
                        <div class="social-icons mt-4">
                            <span class="p-3 sc-icon"><i class="fa-brands fa-twitter fa-2x"></i></span>
                            <span class="p-3 sc-icon"><i class="fa-brands fa-facebook fa-2x"></i></span>
                            <span class="p-3 sc-icon"><i class="fa-brands fa-linkedin fa-2x"></i></span>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- footer -->
<app-footer></app-footer>